

 /* .foto {
 @media (min-width: 1128px)
._yl2jm9 {
    padding: 40px 80px !important;
}}
 
 .foto {

@media (min-width: 950px)
._yl2jm9 {
    padding: 45px 40px !important;
}
@media (min-width: 744px)
._yl2jm9 {
    padding: 40px 40px !important;
}
 } */

 /* .foto {
  display: inline-block !important;
  vertical-align: bottom !important;
  min-height: 1px !important;
  position: relative !important;
  background-position: 50% 50% !important;
  background-repeat: no-repeat !important;
  width: 100% !important;
  max-width: 1760px !important;
  margin: auto !important;
  padding: 32px 3% !important;
  align-items: center !important;
  justify-content: center !important;
  border: solid 1px #red !important;
} */ */



body {
  margin: 0;
  background-color: #000 !important;
  font-family: "Open Sans", sans-serif !important;
  /* font-size: 16px !important;
  font-weight: 400 !important; */
  line-height: 1.5 !important;
  color: #4a4a4a !important;
  -webkit-font-smoothing: antialiased !important;
}